:root{
    --color_black: #000000;
    --color_white: #FFFFFF;
    --color_lightBlack: #121212;
    --color_gray: #626262;
    --color_blue: #0047FF;
    --color_light_black: #242424;

    --color_nav_panel_not_selected: #616161;
    --color_nav_panel_selected: #FFFFFF;

    --color_icon_btn_gray: #171717;
    --color_profile_bg: #3A3A3A;
}
.header_container_with_icon{
    height: fit-content;
    display: flex;
    align-items: center;
    margin: 20px;
}
.profile_header_h1{
    padding: 0;
}
.setting_ruler_icon_container{
    margin-left: auto;
}
.small_icon_btn{
    color: var(--color_blue);
    border-radius: 100px;
    width: 30px;
    height: 28px;
    border: none;
    outline: none;
    padding: 3px;
    background-color: var(--color_icon_btn_gray);
    margin: 3px;
}

.profile_name_display_container{
    height: fit-content;
    display: flex;
    align-items: center;
    margin: 20px;
}
.image_name_workout_container{
    display: flex;
    gap: 9px;
}
.profile_image_container{
    width: fit-content;
    padding: 8px;
    aspect-ratio: 1/1;
    background-color: var(--color_profile_bg);
    border-radius: 100px;
}
.profile_name_workout_container{
    display: flex;
    flex-direction: column;
}
#name_display{
    margin-top: auto;
}
#workout_display{
    color: var(--color_gray);
    position: relative;
    margin-top: auto;
    margin-bottom: 5px;
}

.default_left_margin{
    margin-left: 20px;
}

.graph_with_heading_container{
    border: var(--color_gray) solid 1px;
    margin: 20px;
    padding: 10px;
    overflow: hidden;
    border-radius: 10px;
}
#graph_container{
    background-color: #1b1b1b;
    margin: 15px 0px 5px 0px;
    height: 200px;
}

.tiny_btn_click_expand_dialogue_box{
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    bottom: 0;
    background-color: #00000094;
    backdrop-filter: blur(4px);
    display: flex;
    align-items: center;
    justify-content: center;
    transform: scale(0);
    transition: transform .4s ease;
}
.tiny_btn_clicked_expand_inside_container{
    width: 90%;
    max-height: 90%;
    background-color: var(--color_light_black);
    border-radius: 10px;
    display: flex;
  flex-direction: column;
}
.close_save_btn_name_goal{
    width: 100%;
    margin: 5px;
    display: flex;
    align-items: center;
}
.with_out_icon{
    margin-left: auto;
    margin-right: 10px;
    width: fit-content;
    padding: 5px 8px;
}
.input_holder{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 20px;
}
input,textarea{
    width: 100%;
    background-color: var(--color_icon_btn_gray);
    border: none;
    color: white;
    padding: 6px;
    margin: 5px;
    border-radius: 6px;
    resize: none;
}

.all_settings_panel{
    overflow-y: auto;
    overflow-x: hidden;
    width: 100%;
}
.setting_inside_btn{
    width: 100%;
    display: flex;
    align-items: center;
    margin: 18px;
}
.setting_icon{
    margin-left: auto;
    margin-right: 36px;
}

.measurement_value_units{
    margin-left: auto;
    margin-right: 36px;
    display: flex;
    align-items: center;
    width: 100px;
}

.input_measurement{
    text-align: right;
}