:root{
    --color_black: #000000;
    --color_white: #FFFFFF;
    --color_lightBlack: #121212;
    --color_gray: #626262;
    --color_blue: #0047FF;

    --color_nav_panel_not_selected: #616161;
    --color_nav_panel_selected: #FFFFFF;

    --color_icon_btn_gray: #171717;
    --color_profile_bg: #3A3A3A;
}

.main_container{
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.header_container_with_icon{
    height: fit-content;
    display: flex;
    align-items: center;
    margin: 20px;
}
.profile_header_h1{
    padding: 0;
}
.small_icon_btn{
    color: var(--color_blue);
    border-radius: 100px;
    width: fit-content;
    height: 28px;
    border: none;
    outline: none;
    padding: 3px 10px;
    background-color: var(--color_icon_btn_gray);
    margin: 3px;
    margin-left: auto;
}


#empty_history_container{
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}
.start_workout_history_page_btn{
    margin: 0 auto;
    background-color: var(--color_icon_btn_gray);
    padding: 3px 10px;
    border-radius: 100px;
    border: none;
    outline: none;
}